<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="author" content="nemowen" />
{{template "meta" .}}

<link rel="stylesheet" href="http://{{.static_server}}/static/css/semantic.min.css?ver={{.last_release_date}}" />

<script type="text/javascript" src="http://{{.static_server}}/static/js/semantic.min.js?ver={{.last_release_date}}"></script>
<script type="text/javascript" src="http://{{.static_server}}/static/js/jquery.min.js?ver={{.last_release_date}}"></script>
